.contact-hero{
     padding: 100px 0;
}

.contact-hero-content{
    display: grid;
    grid-template-columns: 1.5fr 1.25fr;
    gap: 80px;
}

.contact-hero-texts h1{
      font-size: 60px;
      font-family: var(--bold-font);
      font-weight: 600;
      margin-bottom: 10px;
}

.contact-hero-texts .intro{
     font-size: 20px;
     line-height: 1.5;
     margin-bottom: 10px;
}

.contact-hero-texts p{
     font-size: 17px;
     margin-bottom: 10px;
     color: rgb(65, 65, 65)
}

.hero-info-row{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 30px;
       margin-top: 30px;
}
.hero-info-row h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hero-info-row p{
     line-height: 1.6;
     color: rgb(65, 65, 65)
}

.contact-form{
      padding: 40px;
      background: white;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
}

.contact-form h2{
      font-size: 30px;
}
.contact-form p{
      font-size: 17px;
      margin-bottom: 20px;
      color: rgb(65, 65, 65);
}

.contact-form .form-row.split{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-bottom: 10px;
}
.contact-form .form-row{
      margin-bottom: 10px;
}
.form-control{
      width: 100%;
      height: 50px;
      font-family: var(--regular-font);
      padding-left: 10px;
      background: transparent;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      border: 1px solid rgba(218, 223, 224, 0.55);
      outline: none;
}
.form-row textarea{
     width: 100%;
     height: 150px;
     background: transparent;
     padding: 10px;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     border: 1px solid rgba(230, 230, 230, 0.55);
     outline: none;
     font-family: var(--regular-font);
     margin-bottom: 10px;
}



.form-btn button{
      width: 100%;
      font-family: var(--regular-font);
      height: 50px;
      font-size: 15px;
      background: var(--main-color);
      color: white;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      border: none;
      cursor: pointer;
}

.form-row .error{
       font-size: 13px;
       color: red;
}

.server-msg{
       font-size: 14px !important;
       color: var(--main-color) !important;
       margin-top: 15px;
}

.honey-special{
       opacity: 0;
       display: block;
       margin-top: -15px !important;
}

.faq-section{
       background: white;
       padding: 100px 0;
}

.faq-section-content{
        display: grid;
        grid-template-columns: 1.25fr 2.5fr;
        gap: 50px;
}

.faq-texts h1{
      font-size: 50px;
      margin-bottom: 10px;
}

.faq-texts p{
       font-size: 17px;
       line-height: 1.6;
       color: rgb(65, 65, 65);
}

.faq-moja{
      margin-bottom: 20px;
}
.faq-header{
       display: flex;
       gap: 30px;
       align-items: center;
       justify-content: space-between;
       cursor: 3;
}

.faq-header h3{
      font-size: 20px;
      font-weight: 500;
}

.faq-header span{
       display: flex;
       width: 35px;
       flex-shrink: 0;
       height: 35px;
       border: 1px solid rgb(212, 217, 220);
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       justify-content: center;
       align-items: center;
       transform: rotate(0deg);
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
       transition: all 0.7s ease;
       -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
       -ms-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
}
.faq-header.active span{
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
}
.faq-answer{
       max-height: 0;
       overflow: hidden;
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
}
.faq-answer.active{
       max-height: 400px;
}
.answer-inner{
       padding: 5px 0;
}
.faq-answer p{
      font-size: 16px;
      color: rgb(65, 65, 65);
      line-height: 1.5;
      padding: 0 5px;
}


@media(max-width: 1090px){
      .contact-hero-content,
      .faq-section-content{
            grid-template-columns: 1fr;
      }
}

@media(max-width: 768px){
      .contact-hero-texts h1,
      .faq-texts h1{
             font-size: 40px;
      }
      .contact-form .form-row.split,
      .hero-info-row{
             grid-template-columns: 1fr;
             gap: 10px;
      }
      .faq-header h3{
            font-size: 18px;;
      }
}