.hero-section{
      padding: 70px 0 100px 0;
}
.hero-title h1{
    font-size: 85px;
    font-family: var(--bold-font);
    font-weight: 500;
    line-height: 1.4;
}
.hero-wrap{
      margin-top: 50px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 50px;
      align-items: center;
}
.hero-image img{
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      height: 550px;
}
.hero-texts p{
     font-size: 18px;
     line-height: 1.6;
     color: rgb(50, 50, 50);
}

.hero-texts a{
     display: inline-flex;
     margin-top: 20px;
     border: 2px solid var(--main-color);
     width: 180px;
     height: 50px;
     align-items: center;
     justify-content: center;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     font-size: 15px;
     font-weight: 600;
     color: #333;
}

.hero-texts img{
      height: max-content;
      margin-top: 30px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
}


/* About Section */
.about-section .clients-section{
       padding-bottom: 100px;
}
.clients-section h3{
      text-align: center;
      font-size: 30px;
      font-family: var(--bold-font);
      margin-bottom: 20px;
      font-weight: 500;
}
.client-logos{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      align-items: center;
}

.client-logos img{
       width: 180px;
       height: 80px;
       object-fit: contain;
       mix-blend-mode: multiply;
}

.about-section-content{
       background-color: #091542;
       background-image: url("../assets/aboutBg.png");
       background-position: 50%;
       background-size: auto;
      height: auto;
      padding: 100px 0;
}

.about-section-container h2{
      font-size: 45px;
      font-family: var(--bold-font);
      color: whitesmoke;
      font-weight: 300;
      line-height: 1.5;
}

.about-section-container .about-section-images{
       display: flex;
       justify-content: center;
       margin: 100px 0;
       align-items: center;
}
.about-section-images img{
        max-height: 680px;
        max-width: 500px;
}
.about-section-images img:nth-child(1){
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
}
.about-section-images img:nth-child(2){
       transform: translateX(-5%);
       -webkit-transform: translateX(-5%);
       -moz-transform: translateX(-5%);
       -ms-transform: translateX(-5%);
       -o-transform: translateX(-5%);
}

.extra-about{
        display: grid;
        grid-template-columns: 2.5fr 1.5fr;
        gap: 80px;
}
.extra-about p{
       color: whitesmoke;
       font-size: 22px;
       line-height: 1.7;
       font-weight: 400;
}
.extra-about-column.two p{
        font-size: 18px;
        margin-bottom: 30px;
}
.extra-about a{
      border: 2px solid whitesmoke;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      height: 55px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      color: whitesmoke;
      transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
}
.extra-about a:hover{
        color: var(--main-color);
        font-size: 16px;
        background: whitesmoke;
}


/* Services Styles */
.services-section{
      padding: 100px 0;
}
.service-intro{
        width: 900px;
        text-align: center;
        margin: auto;
}
.service-intro h3{
       font-size: 20px;
       color: var(--secondary-color);
       font-weight: 500;
}
.service-intro h2{
      font-size: 55px;
      font-family: var(--bold-font);
      margin: 10px 0;
      line-height: 1.5;
      font-weight: 600;
}
.service-intro p{
       width: 80%;
       margin: auto;
       font-size: 20px;
       line-height: 1.7;
       color: rgb(50, 50, 50);
}

.services-row{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      margin-top: 50px;
      gap: 40px;
}

.service-moja .icon{
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
}

.service-moja h2{
       font-family: var(--bold-font);
       font-weight: 500;
       margin-bottom: 10px;
       font-size: 22px;
}

.service-moja p{
      line-height: 1.6;
      color: rgb(50, 50, 50);
}


/* Benefits  Styles */

.benefits-section{
        background: #e5eaf9;
        display: grid;
        grid-template-columns: 2fr 1.7fr;
}
.benefits-texts-column{
      padding: 100px 0;
}
.benefits-inner{
       width: 80%;
       margin: auto;
}
.benefits-intro h3{
      font-size: 20px;
      color: var(--secondary-color);
      font-weight: 500;
}
.benefits-intro h1{
        font-size: 55px;
        font-weight: 600;
        font-family: var(--bold-font);
        margin: 10px 0;
}

.benefits-row{
       display: grid;
       grid-template-columns: 1fr 1fr;
       margin-top: 30px;
}
.benefit-moja{
        padding: 30px;
}
.benefit-moja:nth-child(1),
.benefit-moja:nth-child(3){
        border-right: 1px solid rgba(220, 220, 220, 0.6);
}
.benefit-moja:nth-child(3),
.benefit-moja:nth-child(4){
      border-top: 1px solid rgba(220, 220, 220, 0.6);
}
.benefit-moja .icon img{
        width: 30px;
        height: 30px;
        object-fit: contain;
}

.benefit-moja h3{
      font-size: 19px;
      font-family: var(--bold-font);
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 10px;
}
.benefit-moja p{
       font-size: 15px;
       color: rgb(50, 50, 50);
       line-height: 1.5;
}

/* Process Styles */
.process-section{
       padding: 100px 0;
}
.process-intro{
       width: 800px;
       margin: auto;
       text-align: center;
}
.process-intro h3{
      font-size: 20px;
      color: var(--secondary-color);
      font-weight: 500;
}

.process-intro h1,
.pricing-intro h1{
      font-size: 55px;
      font-weight: 600;
      font-family: var(--bold-font);
      margin: 10px 0;
}

.process-row{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 30px;
      margin-top: 100px;
}
.process-moja-wrap{
       position: relative;
       display: flex;
       flex-direction: column;
       align-items: center;
}
.process-moja-wrap .number{
       font-size: 65px;
       font-family: var(--bold-font);
       font-weight: 600;
       position: absolute;
       top: 0;
       transform: translateY(-52px);
       -webkit-transform: translateY(-52px);
       -moz-transform: translateY(-52px);
       -ms-transform: translateY(-52px);
       -o-transform: translateY(-52px);
       z-index: 2;
       transition:all 0.8s ease;
       -webkit-transition:all 0.8s ease;
       -moz-transition:all 0.8s ease;
       -ms-transition:all 0.8s ease;
       -o-transition:all 0.8s ease;
       color: rgb(235, 235, 235);
}
.process-moja-wrap:nth-child(1):hover .number{
       color: rgb(136, 194, 245);
}
.process-moja-wrap:nth-child(2):hover .number{
      color: rgb(247, 198, 158);
}
.process-moja-wrap:nth-child(3):hover .number{
      color: rgb(167, 236, 199);
}
.process-moja-wrap:nth-child(4):hover .number{
      color: rgb(236, 167, 222);
}
.process-moja-wrap:hover .number{
       transform: translateY(-90px);
       -webkit-transform: translateY(-90px);
       -moz-transform: translateY(-90px);
       -ms-transform: translateY(-90px);
       -o-transform: translateY(-90px);
}
.process-moja{
       position: relative;
       z-index: 5;
      background: white;
      padding: 30px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
.process-moja .icon{
     position: relative;
     display: inline-flex;
     align-items: center;
     justify-content: center;
}
.process-moja img.ico{
       width: 45px;
       height: 45px;
       position:  absolute;
       object-fit: contain;
}
.process-moja img.blob{
       width: 70px;
       height: 70px;
       object-fit: contain;
}

.process-moja h3{
       font-size: 20px;
       font-weight: 600;
       margin-bottom: 5px;
       line-height: 1.5;
}

.process-moja p{
      font-size: 16px;
      color:rgb(50, 50, 50);
      line-height: 1.6;
}

.image-strip-section{
      padding-bottom: 80px;
      display: flex;
      justify-content: center;
}
.image-strip{
       width: 100%;
       height: 500px;
       overflow: hidden;
       border-radius: 250px;
       transition: all 0.5s ease;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       -webkit-border-radius: 250px;
       -moz-border-radius: 250px;
       -ms-border-radius: 250px;
       -o-border-radius: 250px;
       scale: 0 0;
       animation: scroll-watcher linear;
       -webkit-animation: scroll-watcher linear;
       animation-timeline: scroll();
}


@keyframes scroll-watcher {
      to { scale: 1 1 }
}




.pricing-section{

       padding-bottom: 100px;
}
.pricing-intro{
       width: 800px;
       margin: auto;
       text-align: center;
}
.pricing-intro h3{
       font-size: 20px;
       color: var(--secondary-color);
       font-weight: 500;
}

.pricing-intro p{
       font-size: 18px;
       line-height: 1.6;
       color: rgb(50, 50, 50);
}
.pricing-tabs{
      margin: 30px 0;
      display: flex;
      justify-content: center;
}
.pricing-tabs ul{
      display: inline-flex;
      justify-content: center;
      border-bottom: 1px solid gainsboro;
      gap: 5px;
}
.pricing-tabs ul li {
      padding: 15px 30px;
      font-size: 16px;
      cursor: pointer;
      font-weight: 400;
      border-radius: 6px 6px 0px 0px;
      -webkit-border-radius: 6px 6px 0px 0px;
      -moz-border-radius: 6px 6px 0px 0px;
      -ms-border-radius: 6px 6px 0px 0px;
      -o-border-radius: 6px 6px 0px 0px;
      color: rgb(50, 50, 50);
}
.pricing-tabs ul li:hover,
.pricing-tabs ul li.active{
       background:rgb(197, 218, 246);
       font-weight: 500;
}

.pricing-tab-content{
       width: 900px;
       margin: auto;
}
.pricing-tab-content p.intro{
       font-size: 20px;
       line-height: 1.5;
       text-align: center;
       margin-bottom: 20px;
       color: rgb(50, 50, 50);
}
.pricing-tab-content h2{
       font-size: 20px;
       font-weight: 500;
       margin-bottom: 15px;
}
.pricing-package-wrap{
       display: flex;
       gap: 30px;
       flex-wrap: wrap;
}
.package-box{
       display: flex;
       width: 250px;
       padding: 15px;
       flex-direction: column;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       background:rgba(158, 199, 235, 0.438);
}

.package-box h4{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 5px;
}

.package-box h5{
       font-weight: 500;
       font-size: 16px;
       margin-bottom: 5px;
}
.package-box p{
       font-size: 25px;
       font-weight: 500;
       font-family: var(--bold-font);
}
.package-box p span{
      font-size: 15px;
}

.more-stuff{
       margin-top: 30px;
}

.pricing-tab-content ul{
       width: 90%;
       margin: auto;
}

.pricing-tab-content ul li {
        line-height: 1.6;
        font-size: 18px;
        margin-bottom: 10px;
}

.cta-strip{
       display: flex;
       gap: 50px;
       margin-top: 50px;
       align-items: center;
}
.cta-strip h3{
       font-size: 40px;
       font-weight: 400;
       line-height: 1.6;
}
.cta-strip a{
       width: 240px;
       flex-shrink: 0;
       height: 55px;
       display: flex;
       background: var(--main-color);
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
       color: whitesmoke;
       justify-content: center;
       align-items: center;
}
.cta-strip a span{
       display: flex;
       margin-top: 2px;
}

.testimonials-section{
        padding: 100px 0;
        background: #091542;
}

.testimonials-intro{
        width: 900px;
        margin: auto;
        text-align: center;
}
.testimonials-intro h3{
       font-size: 18px;
       font-weight: 500;
       color: var(--secondary-color)
}
.testimonials-intro h1{
        font-size: 55px;
        font-family: var(--bold-font);
        font-weight: 600;
        margin: 10px 0;
        color: whitesmoke;
}
.testimonials-row{
       margin-top: 60px;
       max-width: 100vw;
       overflow: hidden;
}
.testimonials-scroller{
       display: flex;
       gap: 30px;
       animation: scrollslide 200s linear infinite;
       -webkit-animation: scrollslide 200s linear infinite;
       width: max-content;
}
.testimonials-scroller.disabled{
       animation: none;
       -webkit-animation: none;
}
.testimonial-moja{
      width: 300px;
      background:rgba(187, 223, 237, 0.197);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: space-between;
      gap: 40px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      padding: 30px 20px;
      text-align: center;
}
.testimonial-moja .top-part{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.testimonial-moja img{
        width: 20px;
        height: 20px;
        margin: 20px auto;
        filter: invert(81%) sepia(55%) saturate(2182%) hue-rotate(356deg) brightness(101%) contrast(101%);
}

.testimonial-moja p.saying{
        font-size: 16px;
        line-height: 1.6;
        color: gainsboro;
}
.testimonial-moja .stars{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px 0 0 0;
}
.testimonial-moja .stars span{
       font-size: 20px;
       color: var(--color);
}
.testimonial-moja h4{
       font-size: 20px;
       color: gainsboro;
       font-weight: 500;
}
.testimonial-moja p{
       font-size: 14px;
       color: rgb(207, 207, 207);
}


@keyframes scrollslide{
       to{
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
  }
  }


  .blog-section{
        padding: 100px 0;
  }

  .blog-intro{
       display: flex;
       gap: 40px;
       align-items: center;
  }
  .blog-intro h2{
        font-size: 55px;
        width: 600px;
        flex-shrink: 0;
  }

  .blog-intro p{
       font-size: 18px;
       line-height: 1.5;
  }

  .blog-intro a{
       flex-shrink: 0;
       display: flex;
       width: 200px;
       height: 50px;
       align-items: center;
       justify-content: center;
       border: 2px solid var(--main-color);
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
       font-size: 15px;
       gap: 5px;
}
.blog-intro a span{
       display: flex;
}

.blog-content-row{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 30px;
       margin-top: 60px;
}

.blog-image{
       height: 500px;
       margin-bottom: 20px;
}

.blog-image img{
       border-radius: 20px;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms-border-radius: 20px;
       -o-border-radius: 20px;
}

.blog-moja h3{
       font-size: 18px;
       font-weight: 400;
}
.blog-moja h1{
        font-size: 35px;
        font-weight: 500;
}