.hero-section{
      padding: 70px 0 100px 0;
}
.hero-title h1{
    font-size: 85px;
    font-family: var(--bold-font);
    font-weight: 500;
    line-height: 1.4;
}
.hero-wrap{
      margin-top: 50px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 50px;
      align-items: center;
}
.hero-image img{
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      height: 550px;
}
.hero-texts p{
     font-size: 18px;
     line-height: 1.6;
}

.hero-texts a{
     display: inline-flex;
     margin-top: 20px;
     border: 2px solid var(--main-color);
     width: 180px;
     height: 50px;
     align-items: center;
     justify-content: center;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     font-size: 15px;
     font-weight: 600;
     color: #333;
}

.hero-texts img{
      height: max-content;
      margin-top: 30px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
}